= simple_form_for @session do |f|
  .row
    .col-md-12
      = f.input :cnpj, placeholder: "Digite o cnpj da sua entidade", input_html: { class: 'cnpj'}
  .row
    .col-md-12
      = f.input :password, placeholder: "Digite sua senha de acesso"
  %hr/
  .row
    .col-md-12
      = f.submit "Realizar o acesso", class: 'btn btn-primary'