.container
  %br/
  %br/
  %br/
  %br/
  .row
    .col-md-4{style: 'float: none; margin: 0 auto;'}
      .panel.panel-default
        .panel-body
          .row
            .col-md-12{style: 'text-align: center'}
              %h1 
                %b Gestão de entidade
          %hr/
          .row
            .col-md-12
          = render 'form'    
