.row
  .col-md-12
    %h2 
      %b Cadastro de membro da diretoria
%br/
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %b Formulário de cadastro de membro
      .panel-body
        = render 'form'